body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #23272A; 
    color: white;
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

i {
    font-size: 30px;
    cursor: pointer;
    align-items: end;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #2C2F33;
}

::-webkit-scrollbar-thumb {
    background: #4a607e;
    border-radius: 10px;
}

.nav-bar {
  padding-top: 15px;
  padding-left: 25px; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: -20px;
}

.mascot {
    width: 200px;
    height: 200px;
}

.version-beta {
    background: #4a607e;
    border-radius: 20px;
    color: #fff;
    font-size: 50%;
    padding: 3px 7px;
    position: relative;
    top: -10px;
}

p {
    font-size: 24px;
    margin-bottom: 0px;
}

.codeBlock {
    background-color: #2C2F33;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 0px 0px;

    text-align: left;
    color: white;
    font-size: 15px; 
}

.codeBlock .comment {
    color: #999;
}

.link__holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link {
    background-color: #222;
    color: #fff;
    margin-top: 16px;
    margin-right: 8px;
    padding: 7px 14px 6px 8px;
    border-radius: 6px;
    align-items: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}

.link svg {
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

.link span {
    margin: 0 4px 0 8px;
}

.discord-link {
    background-color: #7289DA;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 7px 0 #111;
    cursor: pointer;
    transition: all 0.3s;
}

.discord-link:hover {
    box-shadow: 0 0px 0 #111;
    transform: translateY(3px);
}

.github-link {
    background-color: #34292E; 
    border: none;
    border-radius: 5px;
    box-shadow: 3px 7px 0 #111;
    cursor: pointer;
    transition: all 0.3s;
}

.github-link:hover {
    box-shadow: 0 0px 0 #111;
    transform: translateY(3px);
}

/* Handle the mobile view */ 
@media (max-width: 768px) {
    .mascot {
        width: 130px;
        height: 130px;
    }

    .container {
        padding: 0 20px;
    }

    .codeBlock {
        font-size: 10px;
    } 

    .link__holder {
        flex-direction: column;
    }
}

